extends base
include mixins/videos

block content
  div.profile__data
    if user.avatarUrl
      img(src=user.avatarUrl ,crossorigin).avatar
    else
      span 😀
    h3=user.name
  div.video-grid
    each video in videos
        +video(video)
    else
        span.empty__message No videos found 